body{
    font-family: sans-serif;
    background: pink;
}

.form{
    background: #fff;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}

button{
    border: none;
    background: red;
    padding: 5px;
    color: #fff;
    border-radius: 5px;
}

.form input{
    margin: 5px 0;
    padding: 5px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

input[type = "submit"]{
    border: none;
    background: #1860a8;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

#eventsContainer{
    background: #fff;
    border-radius: 5px;
    padding: 10px ;
    width: 500px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.event{
    border: solid 1px #ccc;
    padding: 10px;
    display: flex;
    align-items: center;
    align-content: center ;
}

.event .days{
    text-align: center;
    width: 100px;
}

.event .days .days-number{
    font-size: 30px;
    font-weight: bold;
    display: block;
}

.event .event-name{
    padding: 10px;
    width: 200px;
}

.event .event-date{
    padding: 10px;
    width: 100px;
}

.event .actions{
    padding: 10px;
}